<div class="search" ng-class="{home: currentPage == 'home'}">
    <form name="searchForm" novalidate ng-submit="searchSubmit(query)">
        <input type="text" name="query" ng-model="query" ng-change="searchChange(query)" required ng-class="{'error': searchForm.$dirty}" placeholder="Search TV Shows, People, and Collections"/>
        <button type="submit" ng-enabled="searchForm.$dirty">Search</button>
    </form>
    <div ng-if="searchForm.$dirty && !query">Search Term required</div>
</div>
<div>
    <li ng-repeat="tvResult in tvResults" ng-click="resultSelected(tvResult.id)">
        <h1>{{tvResult.name}}</h1>
    </li>
</div>
