.site-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: white;
    height: auto;
    font-size: 0;
    padding-bottom: 10px;
    z-index: 0;
    @include bp(screen-desktop) {
        height: 357px;
        background-color: white;
    }
}

.site-footer__wrapper {
    @include bp(screen-desktop) {
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 980px;
    }
}

.site-footer__links-mobile {
    width: 100%;
    position: relative;
    height: 50px;
    text-align: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.2);
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 0;
    @include bp(screen-desktop) {
        display: none;
    }
}

.site-footer__links-mobile-company {
    font-family: 'AvenirLT-Light', 'Open Sans', sans-serif, serif, Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
    top: 7px;
    color: rgba(75, 75, 75, 0.2);
    padding: 0px 10px;
    // @include bp(screen-iphone6) {
    //     padding: 0px 20px;
    // }
    vertical-align: top;
    @include bp(screen-iphone6) {
        border-right: 1px solid rgba(75, 75, 75, 0.2);
    }
    @include bp(screen-iphone6plus) {
        padding: 0px 20px;
    }
    @include bp(screen-desktop) {
        display: none;
    }
}

.site-footer__links-mobile-company + .site-footer__links-mobile-company {
    border-left: 1px solid rgba(75, 75, 75, 0.2);
    @include bp(screen-iphone6) {
        border-left: none;
    }
}

.site-footer__links-mobile-socialmedia {
    display: none;
    @include bp(screen-iphone6) {
        display: inline-block;
        position: relative;
        top: 54%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0px 10px;
        vertical-align: top;
        // padding: 0px 20px;
    }
    @include bp(screen-iphone6plus) {
        padding: 0px 20px;
    }
    @include bp(screen-desktop) {
        display: none;
    }
    & img {
        height: 20px;
    }
}

.site-footer__company {
    width: 100%;
    position: relative;
    text-align: center;
    @include bp(screen-desktop) {
        position: absolute;
        text-align: left;
        width: 16.66%;
        margin: 58px 0;
        left: 0;
    }
}

.site-footer__company-logo {
    margin: 20px 0 18px 0;
    & img {
        width: 90px;
    }
}

.site-footer__company-copyright {
    font-size: 13px;
    color: rgba(85, 85, 85, 1);
    margin-bottom: 20px;
}

.site-footer__links {
    display: none;
    @include bp(screen-desktop) {
        display: block;
        position: absolute;
        text-align: left;
        width: 66.67%;
        margin: 58px 0;
        left: 33.32%;
        padding-top: 42px;
    }
}

.site-footer__links-column {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    & h3 {
        font-size: 13px;
        color: rgba(244, 166, 16, 1);
        text-transform: uppercase;
        font-weight: normal;
    }
    & a {
        color: rgba(0, 0, 0, 0.65);
        display: block;
        font-size: 16px;
        margin-top: 16px;
        transition: color 200ms ease;
        &:hover, &:focus {
            color: rgba(251, 177, 67, 1);
        }
    }
} 
.main {
    position: relative;
    display: block;
    background: white;
    z-index: 10;
    margin-top: 50px;
    transition: margin-top 1000ms ease;
    top: 0px;
    &.is-active {
        margin-top: 50px;
        transition: margin-top 1000ms ease;
        @include bp(screen-desktop) {
            margin-top: 300px;
            transition: margin-top 1000ms ease;
        }
    }
}
