.site-login {
    display: none;
    @include bp(screen-tablet) {
        display: block;
        z-index: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(51, 51, 51, 1);
        height: 250px;
        visibility: hidden;
    }
    &.is-active {
        visibility: visible;
    }
}

.site-login-main__xbutton {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 1;
    &:hover, &:focus {
        & img {
            content: url("//content.farmhill.com/images/login/login-xbuttonhover.png");
        }
    }
    & img {
        content: url("//content.farmhill.com/images/login/login-xbutton.png");
        width: 50px;
        cursor: pointer;
    }
}

.site-login-main__container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    text-align: center;
    font-size: 0;
    &.is-inactive {
        display: none;
    }
}

.site-login-main__login {
    position: absolute;
    text-align: right;
    width: 50%;
    left: 0;
    padding-right: 10px;
}

.site-login__form {
    position: absolute;
    right: 10px;
    width: 300px;
    height: 100%;
}

.site-login__input-container {
    position: relative;
    height: 101px;
    margin-bottom: 11px;
}

.site-login__input-email-val,
.site-login__input-password-val {
    display: block;
    width: 300px;
    position: absolute;
    right: 0;
    height: 45px;
    padding: 5px 0 0 13px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    transition: border 300ms ease;
}

.site-login__input-email-val:focus,
.site-login__input-password-val:focus {
    border: 1px solid #0099FF;
    transition: border 300ms ease;
}

.site-login__input-email-val {
    top: 0;
}

.site-login__input-password-val {
    top: 56px;
}

.site-login__login-container {
    position: relative;
    display: block;
    width: 300px;
    height: 35px;
    font-size: 14px;
    & button {
        position: relative;
        display: inline-block;
        vertical-align: top;
        border-radius: 40px;
        width: 145px;
        height: 36px;
        color: white;
        transition: background 200ms ease;
    }
    & .site-login__login-btn {
        background: rgba(251, 177, 67, 1);
        margin-left: 5px;
        padding-top: 7px;
        &:hover, &:focus {
            background: rgba(233, 166, 68, 1);
            transition: background 200ms ease;
        }
    }
    & .site-login__login-btn__fb {
        background: rgba(59, 89, 152, 1);
        & .site-login__login-btn__fb-words {
            position: absolute;
            top: 54%;
            left: 28px;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        & span>img {
            position: absolute;
            width: 16px;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 101px;
        }
        &:hover, &:focus {
            background: rgba(59, 89, 152, 0.75);
            transition: background 200ms ease;
        }
    }
}

.site-login__forgot-password {
    display: block;
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    & a {
        position: absolute;
        right: 0;
        color: rgba(255, 255, 255, 0.50);
        transition: color 200ms ease;
        &:hover, &:focus {
            color: white;
            transition: color 200ms ease;
        }
    }
}

.site-login-main__signup {
    position: absolute;
    text-align: left;
    width: 50%;
    left: 50%;
    padding-left: 10px;
}

.site-login-main__signup-join {
    position: absolute;
    top: 56px;
    height: 45px;
    margin-bottom: 11px;
    & h3 {
        font-family: 'AvenirLT-Medium', 'Open Sans', sans-serif, serif, Helvetica, Arial, sans-serif;
        margin: 0 0 3px;
        color: white;
        font-size: 20px;
        font-weight: normal;
    }
}

.site-login-main__signup-checkbox {
    position: relative;
    & input {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
    }
    & label {
        position: absolute;
        width: 300px;
        font-size: 14px;
        color: white;
        left: 25px;
        top: 1px;
    }
}

.site-login__signup-btn {
    display: block;
    text-align: center;
    position: absolute;
    background: rgba(46, 204, 113, 1);
    border-radius: 40px;
    width: 163px;
    height: 35px;
    font-size: 14px;
    color: white;
    top: 112px;
    transition: background 200ms ease;
    padding-top: 7px;
    &:hover, &:focus {
        background: rgba(49, 191, 109, 1);
    }
}

.site-login__error-container {
    display: none;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &.is-active {
        display: block;
    }
}

.site-login__error-message {
    font-family: 'AvenirLT-Heavy', 'Open Sans', sans-serif, serif, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: rgba(234, 87, 68, 1);
    margin-bottom: 20px;
}

.site-login__error-forgotpassword {
    cursor: pointer;
    font-size: 14px;
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 200ms ease;
    &:hover, &:focus {
        color: white;
        transition: color 200ms ease;
    }
}

.site-login__error-tryagain {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    >.site-login__error-tryagain-arrow-container {
        display: inline-block;
        -ms-transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        transition: transform 200ms ease;
    }
    &:hover, &:focus {
        color: rgba(255, 255, 255, 1);
        >.site-login__error-tryagain-arrow-container {
            transition: transform 200ms ease;
            -ms-transform: translate(2px);
            ;
            -webkit-transform: translate(2px);
            ;
            -moz-transform: translate(2px);
            ;
            transform: translate(2px);
            ;
            >.site-login__error-tryagain-arrow {
                border-color: rgba(255, 255, 255, 1);
            }
        }
    }
}

.site-login__error-tryagain-arrow {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.site-login__forgotpassword-container {
    display: none;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    &.is-active {
        display: block;
    }
}

.site-login__forgotpassword-message {
    font-family: 'AvenirLT-Heavy', 'Open Sans', sans-serif, serif, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.site-login__forgotpassword-form {
    display: block;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 400px;
    height: 45px;
    font-size: 0;
    & input {
        display: inline-block;
        position: relative;
        font-size: 14px;
        width: 300px;
        height: 45px;
        padding: 13px;
        border: 0;
        outline: 0;
        border-radius: 5px 0 0 5px;
        vertical-align: top;
    }
    & button {
        display: inline-block;
        width: 100px;
        height: 45px;
        line-height: 45px;
        vertical-align: top;
        background: rgba(251, 177, 67, 1);
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        border-radius: 0 5px 5px 0;
        transition: background 200ms ease;
        &:hover, &:focus {
            transition: background 200ms ease;
            background: rgba(233, 166, 68, 1);
        }
    }
}

.site-login__reset-container {
    display: none;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    &.is-active {
        display: block;
    }
}

.site-login__reset-message {
    font-family: 'AvenirLT-Book', 'Open Sans', sans-serif, serif, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    & a {
        color: #FBB143;
        font-family: 'AvenirLT-Heavy', 'Open Sans', sans-serif, serif, Helvetica, Arial, sans-serif;
    }
}

.site-login-main__continueasguest-btn {
    display: none;
    &.is-active {
        position: absolute;
        display: block;
        bottom: 20px;
        right: 20px;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        z-index: 1;
    }
}
