<div class="searchResults">
    <h3>Search Results</h3>
    <div class="selectors">
        <button>TV Shows</button>
    </div>
    <div class="tvCards">
        <tv-card click="resultSelected(tvResult.id)" name="{{tvResult['name']}}" fullimageurl="{{tmdbConfigurations['images']['base_url'] + tmdbConfigurations['images']['backdrop_sizes'][0] + tvResult['backdrop_path']}}" imageurl="{{tvResult['backdrop_path']}}" overview="{{tvResult['overview']}}" ng-repeat="tvResult in tvResults"></tv-card>
    </div>
</div>
