/*======================================
 * BASE
 =======================================*/

/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/


/* List of colors
--------------------------*/
$granite-gray: #72665b;
$japanese-indigo: #313a49;
$platinum: #e5dfd6;
$ruddy-brown: #bf5e35;
$jet: #322d2d;




/* Typography
--------------------------*/

// Use fontSize mixin when use Typography
$base-font-size: 14px;
$base-font-size-lg: 7px; // 7 * 200% = 14px

$base-font-family: 'AvenirLT-Medium', 'Open Sans', sans-serif,  serif, Helvetica, Arial, sans-serif;
$base-header-family: 'AvenirLT-Heavy', 'Open Sans', sans-serif,  serif, Helvetica, Arial, sans-serif;
$base-p-family: 'AvenirLT-Roman', 'Open Sans', sans-serif,  serif, Helvetica, Arial, sans-serif;
$base-spacing: 1em;





/*======================================
 * INUIT CSS (Plugin)
 =======================================*/

/* Spacing
--------------------------*/
$inuit-margin: 20px;
$inuit-padding: 20px;





/*======================================
 * OBJECTS
 =======================================*/






/*======================================
 * COMPONENTS
 =======================================*/







/*======================================
 * SECTIONS
 =======================================*/





/*======================================
 * PAGES
 =======================================*/
$site-nav-header: 50px;
