<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>_breakpoint.scss</string>
		</array>
		<array>
			<string>_clearfix-me.scss</string>
		</array>
		<array>
			<string>_fontSize.scss</string>
		</array>
		<array>
			<string>_hideFully.scss</string>
		</array>
		<array>
			<string>_hideText.scss</string>
		</array>
		<array>
			<string>_hideVisually.scss</string>
		</array>
		<array>
			<string>_inlineBlockFix.scss</string>
		</array>
		<array>
			<string>_math.scss</string>
		</array>
		<array>
			<string>_pxToEm.scss</string>
		</array>
		<array>
			<string>_textAlign.scss</string>
		</array>
		<array>
			<string>_visuallyHidden.scss</string>
		</array>
	</array>
</dict>
</plist>
